# Ignore Terraform working directory (plugins, modules, etc)
.terraform/

# Ignore state files (may contain sensitive info)
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI config files
.terraformrc
terraform.rc

# Ignore variable files (which may contain secrets)
*.tfvars
*.tfvars.json
secrets.tfvars



# Ignore backup files
*.backup

# Ignore plan files
*.tfplan
